<a href="https://colab.research.google.com/github/raan1ya/Python/blob/main/MST_Python_Day_3_Practice_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
x=int(input('Enter number of participants: '))
y=input('Enter the scores of participants seperated by comma: ').split(',')
z=[int(a) for a in y]
z=sorted(z)
print('Score of the runner up is ',z[x-2])

Enter number of participants: 5
Enter the scores of participants seperated by comma: 45,45,67,34,12
Score of the runner up is  45

In [ ]:
#2
D={'John':[25,32,43],'Peter':[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
a=input('Enter the name you are searching for : ')
if a in D:
  D[a]=[88,77,99]
  print(D)
else:
  print('Name not found')

Enter the name you are searching for : Ram
{'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [88, 77, 99], 'Meena': [63, 79, 85]}

In [ ]:
#3
print('Ticket Price Calculator')
age,gender=input('Enter your age and gender(M/F) seperated by a comma: ').split(',')
age=int(age)
if age<=12 and age>=5:
  ticket=10
elif age<=60:
  ticket=50
else:
  ticket=0
if gender=='F':
  ticket=ticket*.5
print(f'Your ticket costs {ticket}Rs')

Ticket Price Calculator
Enter your age and gender(M/F) seperated by a comma: 50,F
Your ticket costs 25.0Rs